{{ range $host, $containers := groupByMulti $ "Env.DOMAIN_NAME" "," }}
    {{ range $index, $container := $containers }}
        {{ $addrLen := len $container.Addresses }}
        {{ $address := $container }}
        {{ if gt $addrLen 0 }}
            {{ $address := index $container.Addresses 0 }}
        {{ end }}
address=/{{ $host }}/{{ $address.IP }}
    {{ end }}
{{ end }}

{{ range $index, $container := $ }}
    {{ $addrLen := len $container.Addresses }}
    {{ $address := $container }}
    {{ if gt $addrLen 0 }}
        {{ $address := index $container.Addresses 0 }}
    {{ end }}
address=/{{ $container.Name }}.docker/{{ $address.IP }}
{{ end }}
